$facebook-blue:#3B5998;
$google-plus-red:#d34836;
$twitter-blue:#00aced;
.fa-facebook-square {
  color:$facebook-blue;
}

.fa-google-plus-square {
  color:$google-plus-red;
}

.fa-twitter-square {
  color:$twitter-blue;
}

.fa-facebook-square:hover {
  color:grey;
}

.fa-google-plus-square:hover {
  color:grey;
}

.fa-twitter-square:hover {
  color:grey;
}

#quantity-col {
  input  {
    width:35px;
    font-size:22px;
    text-align:center;
  }
  margin-top:15px;
  padding-left:0;
}

#submit-product-col {
  padding-left:0;
  margin-top:15px;
  margin-bottom:25px
}

#submit-product-button {
  background-color: $twitter-blue;
  color:yellow;
  font-weight:bolder;
}
