body {
  font-family: 'Open Sans Condensed', cursive;
}
#menu {
  background-color:#4dd2ff;
}

#brand-link{
  color:#ffff4d;
  font-weight:bolder;
  font-size:32px;
}



.menu-item a:hover{
  color:grey !important;
}

.fa-facebook-square:hover{
  color:blue;
}

#mapiFrame {
  width:100%;
  height:100%;
  margin-bottom:50px;
}

#featured-products-container {
  margin-top:50px;

}
